<section id="abt-me-section">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="banner">
      <div class="text-block">
        <p>
          I work with people all over the world to create impressive and
          <span>functional</span> <span>websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <div class="image-block">
        <picture>
          <source
            srcset="
              ./img/about-me/about-me-desk.png    1x,
              ./img/about-me/about-me-desk-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/about-me/about-me-tab.png    1x,
              ./img/about-me/about-me-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/about-me/about-me-mob.png    1x,
              ./img/about-me/about-me-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="about-me-pic"
            src="./img/about-me/about-me-desk.png "
            alt="Person picture"
            width="704"
            height="700"
          />
        </picture>
      </div>
    </div>
    <ul class="accordion-block no-animation">
      <li class="ac">
        <h2 class="ac-header">
          About me
          <button type="button" class="ac-trigger">
            <svg class="icon" width="20" height="20">
              <use href="./img/icons.svg#icon-arrow-top"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel">
          <ul class="ac-text">
            <li>
              <p>
                I am Lloyd Jefferson, a talented programmer with extensive
                expertise in software development. I have an understanding of
                different programming languages ​​and technologies, always ready
                to improve my skills. I always follow the latest trends and look
                for unconventional, creative solutions to problems. I have a
                high level of analytical skills and am able to effectively solve
                even the most difficult tasks encountered on the way.
              </p>
            </li>
            <li>
              <p>
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows you to calmly cope with
                challenges and stressful situations, while maintaining a high
                quality of work.I am always looking for opportunities for
                self-improvement. I actively study new technologies and
                practices to stay abreast of the latest innovations. I have a
                strong understanding of various programming languages,
                frameworks and architectural concepts that allow me to create
                efficient and scalable software.
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="ac">
        <h2 class="ac-header">
          Role
          <button type="button" class="ac-trigger">
            <svg class="icon" width="20" height="20">
              <use href="./img/icons.svg#icon-arrow-top"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel">
          <ul class="ac-text">
            <li>
              <p>Frontend development</p>
            </li>
            <li>
              <p>HeadlessCMS,Wordpress</p>
            </li>
            <li>
              <p>Blender(enjoy)</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="ac">
        <h2 class="ac-header">
          Education
          <button type="button" class="ac-trigger">
            <svg class="icon" width="20" height="20">
              <use href="./img/icons.svg#icon-arrow-top"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel">
          <ul class="ac-text">
            <li>
              <p>
                2018 - 2019 / Frontend Development Diploma, GoIT IT<br />School,
                New York
              </p>
            </li>
            <li>
              <p>
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT<br />
                School, New York
              </p>
            </li>
            <li>
              <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="skills-swiper-block">
      <div class="skills-swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide"><span class="slide-text">HTML/CSS</span></li>
          <li class="swiper-slide">
            <span class="slide-text">JavaScript</span>
          </li>
          <li class="swiper-slide"><span class="slide-text">React</span></li>
          <li class="swiper-slide"><span class="slide-text">Node. js</span></li>
          <li class="swiper-slide">
            <span class="slide-text">React Native</span>
          </li>
          <li class="swiper-slide">
            <span class="slide-text">Soft skills</span>
          </li>
          <li class="swiper-slide"><span class="slide-text">Git</span></li>
          <li class="swiper-slide"><span class="slide-text">Jest</span></li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <button class="swiper-next-skill">
        <svg class="icon" width="28" height="28">
          <use href="./img/icons.svg#icon-arrow-narrow-right-1"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
