<section class="benefits">
    <div class="container container-benefits">
        <h1 class="benefits-header">BENEFITS OF WORKING WITH ME</h1>
        <div class="desk">
            <ul class="benefits-frame">
                <li class="benefits-frame-content">
                    <!-- Icon for Expertise -->
                     <div class="icon-frame">
                        <svg class="benefits-icon" width="24" height="24" aria-hidden="true">
                            <use href="../img/icons.svg#icon-user"></use>
                        </svg>
                     </div>
                     <div>
                        <h2 class="benefits-h">Expertise</h2>
                        <p class="benefits-description">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
                     </div>
    
                </li>
                <li class="benefits-frame-content">
                    <!-- Icon for Communication -->
                     <div class="icon-frame">
                        <svg class="benefits-icon" width="24" height="24" aria-hidden="true">
                            <use href="../img/icons.svg#icon-message-chat-circle"></use>
                        </svg>
                     </div>
                     <div>
                        <h2 class="benefits-h">Communication</h2>
                        <p class="benefits-description">Understanding your needs and wants is my priority, and I am always open to discussions and corrections.</p>
                     </div>
    
                </li>
                <li class="benefits-frame-content">
                    <!-- Icon for Art -->
                     <div class="icon-frame">
                        <svg class="benefits-icon" width="24" height="24" aria-hidden="true">
                            <use href="../img/icons.svg#icon-brush"></use>
                        </svg>
                     </div>
                     <div>
                        <h2 class="benefits-h">Art</h2>
                        <p class="benefits-description">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
                     </div>
    
                </li>
                <li class="benefits-frame-content">
                    <!-- Icon for Urgent Execution -->
                     <div class="icon-frame">
                        <svg class="benefits-icon" width="24" height="24" aria-hidden="true">
                            <use href="../img/icons.svg#icon-hourglass"></use>
                        </svg>
                     </div>
                     <div>
                        <h2 class="benefits-h">Urgent execution</h2>
                        <p class="benefits-description">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
                     </div>
                </li>
            </ul>
            <a class="button_work_together" href="#work-together">Order the project</a>
        </div>


    </div>
  </section>
  