<section id="covers">
  <div class="container covers-section">
    <h2 class="visually-hidden">Covers of various projects</h2>
    <div class="content">
      <div class="marquee">
        <ul class="marquee__inner">
          <li class="marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/rectangle-1-desk.jpg    1x,
                  ./img/covers/rectangle-1-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
                type=""
              />
              <img
                src="./img/covers/rectangle-1-desk.jpg"
                alt="cover"
                height="314"
                width="544"
              />
            </picture>
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
