<section class="faq">
  <h2 class="main-section-faq-title">FAQ</h2>
  <div class="faq-container">
    <div class="faq-item">
      <h3>Заголовок 1</h3>
      <p>Текст першого прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>Заголовок 2</h3>
      <p>Текст другого прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>Заголовок 3</h3>
      <p>Текст третього прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>Заголовок 4</h3>
      <p>Текст четвертого прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>Заголовок 5</h3>
      <p>Текст п'ятого прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>Заголовок 6</h3>
      <p>Текст шостого прямокутника.</p>
    </div>
  </div>
</section>
