<section class="faq">
  <h2 class="main-section-faq-title">FAQ</h2>
  <div class="faq-container">
    <div class="faq-item">
      <h3>1-What programming languages are most often used in your project?</h3>
      <p>Текст першого прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>2-What are the deadlines for the project?</h3>
      <p>Текст другого прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>3-What payment methods do you accept?</h3>
      <p>Текст третього прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>4- How can I contact you?</h3>
      <p>Текст четвертого прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>5-Do you provide advice or support?</h3>
      <p>Текст п'ятого прямокутника.</p>
    </div>
    <div class="faq-item">
      <h3>
        6-What does the process of developing a software product look like from
        idea to implementation?
      </h3>
      <p>Текст шостого прямокутника.</p>
    </div>
  </div>
</section>
