
    <section class="body">
    <!-- Header -->
     
    <header class="header">
        
        <button class="menu-text" aria-label="Open Menu">Menu</button>
        <a href="#work-together">
       <button class="order-button">Order the project</button>
    </a>
        <div class="container">
            <div class="logo">
                <picture>
                    <source srcset="
                                          ..//img/header/logo-img-2x.webp  1x,
                                        ..//img/header/logo-img-2x.png  2x
                                        " media="(min-width: 1440px)" />
                    <source srcset="
                                        ..//img/header/logo-img.webp 1x,
                                        " media="(min-width: 768px)" />
                
                <img src="../img/header/logo-img.png" alt="Profile Picture">
                </picture>
                
                <svg class="header-icon" width="84" height="19">
                    <use href="../img/icons.svg#icon-jefferson"></use>
                </svg>
            </div>
       
            <button class="menu-button" aria-label="Open Menu"><svg class="icon-burger" width="24" height="24">
                <use href="../img/icons.svg#icon-menu-burger"></use>
            </svg></button>
        </div>
    </header>

    