<!-- Hero Section -->
<section id="hero" class="hero">
    <div class="container hero-container">
        <h1><br>HELLO.</br> I’M FULLSTACK DEVELOPER <br>LLOYD JEFFERSON.</br></h1>

        <ul class="social-links">
            <li class="nav-icon">
                <a href="https://www.instagram.com/" target="_blank" class="link-icon">IG</a>
            </li>
            <li class="nav-icon">
                <a href="https://www.facebook.com/" target="_blank" class="link-icon">FB</a>
            </li>
            <li class="nav-icon">
                <a href="https://www.youtube.com/" target="_blank" class="link-icon">YT</a>
            </li>
            <li class="nav-icon">
                <a href="https://github.com/" target="_blank" class="link-icon">GH</a>
            </li>
            <li class="email">
                <a href="mailto:jefferson@gmail.com">jefferson@gmail.com</a>
            </li>
        </ul>
    </div>
</section>
