<!-- Hero Section -->
<section id="hero" class="hero">
  <div class="container hero-container">
    <h1>
      HELLO.<br />
      I’M FULLSTACK DEVELOPER LLOYD JEFFERSON.
    </h1>

    <ul class="social-links">
      <li class="hero-social">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="link-icon"
          aria-label="instagram"
          ><span class="social-icon-text">IG</span></a
        >
      </li>
      <li class="hero-social">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="link-icon"
          aria-label="facebook"
          ><span class="social-icon-text">FB</span></a
        >
      </li>
      <li class="hero-social">
        <a
          href="https://www.youtube.com/"
          target="_blank"
          class="link-icon"
          aria-label="youtube"
          ><span class="social-icon-text">YT</span></a
        >
      </li>
      <li class="hero-social">
        <a
          href="https://github.com/"
          target="_blank"
          class="link-icon"
          aria-label="github"
          ><span class="social-icon-text">GH</span></a
        >
      </li>
      <li class="hero-social">
        <a class="email" href="mailto:jefferson@gmail.com"
          ><span>lloydjefferson@gmail.com</span></a
        >
      </li>
    </ul>
  </div>
</section>
