<section class="projects container" id="projects">
  <h2 class="projects-header">Projects</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-slide-content">
          <div class="swiper-slide-main-content">
            <ul class="project-tags">
              <li class="project-tag">#react</li>
              <li class="project-tag">#js</li>
              <li class="project-tag">#node js</li>
              <li class="project-tag">#git</li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://khrystynakozakevych.github.io/project_Synergy/"
              target="_blank"
              class="project-link"
              >See project</a
            >
          </div>
          <div class="project-image">
            <picture>
              <source
                srcset="
                  ./img/projects/1-project-desk-2x.jpg 2x,
                  ./img/projects/1-project-desk.jpg    1x
                "
                media="(min-width: 769px)"
              />
              <source
                srcset="
                  ./img/projects/1-project-mob-2x.jpg 2x,
                  ./img/projects/1-project-mob.jpg    1x
                "
                media="(max-width: 768px)"
              />
              <img src="./img/projects/1-project-mob.jpg" alt="Project 1" />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-content">
          <div class="swiper-slide-main-content">
            <ul class="project-tags">
              <li class="project-tag">#react</li>
              <li class="project-tag">#js</li>
              <li class="project-tag">#node js</li>
              <li class="project-tag">#git</li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://khrystynakozakevych.github.io/project_Synergy/"
              target="_blank"
              class="project-link"
              >See project</a
            >
          </div>
          <div class="project-image">
            <picture>
              <source
                srcset="
                  ./img/projects/2-project-desk-2x.jpg 2x,
                  ./img/projects/2-project-desk.jpg    1x
                "
                media="(min-width: 769px)"
              />
              <source
                srcset="
                  ./img/projects/2-project-mob-2x.jpg 2x,
                  ./img/projects/2-project-mob.jpg    1x
                "
                media="(max-width: 768px)"
              />
              <img src="./img/projects/2-project-mob.jpg" alt="Project 2" />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-content">
          <div class="swiper-slide-main-content">
            <ul class="project-tags">
              <li class="project-tag">#react</li>
              <li class="project-tag">#js</li>
              <li class="project-tag">#node js</li>
              <li class="project-tag">#git</li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://khrystynakozakevych.github.io/project_Synergy/"
              target="_blank"
              class="project-link"
              >See project</a
            >
          </div>
          <div class="project-image">
            <picture>
              <source
                srcset="
                  ./img/projects/3-project-desk-2x.jpg 2x,
                  ./img/projects/3-project-desk.jpg    1x
                "
                media="(min-width: 769px)"
              />
              <source
                srcset="
                  ./img/projects/3-project-mob-2x.jpg 2x,
                  ./img/projects/3-project-mob.jpg    1x
                "
                media="(max-width: 768px)"
              />
              <img src="./img/projects/3-project-mob.jpg" alt="Project 3" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="arrows">
    <button class="arrow-prev">
      <svg class="arrow" width="32" height="32">
        <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
      </svg>
    </button>
    <button class="arrow-next">
      <svg class="arrow" width="32" height="32">
        <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
      </svg>
    </button>
  </div>
</section>
