<section class="projects container">
  <h2 class="projects-title">Projects</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="content">
          <ul class="project-tags">
            <li class="project-tag">#react</li>
            <li class="project-tag">#js</li>
            <li class="project-tag">#node js</li>
            <li class="project-tag">#git</li>
          </ul>
          <h3 class="project-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a href="#" class="project-link">See project</a>
        </div>
        <picture>
          <source
            srcset="
              ../img/projects/1-project-desk-2x.jpg 2x,
              ../img/projects/1-project-desk.jpg    1x
            "
            media="(min-width: 769px)"
          />
          <source
            srcset="
              ../img/projects/1-project-mob-2x.jpg 2x,
              ../img/projects/1-project-mob.jpg    1x
            "
            media="(max-width: 768px)"
          />
          <img src="../img/projects/1-project-mob.jpg" alt="Project 1" />
        </picture>
      </div>
      <div class="swiper-slide">
        <div class="content">
          <ul class="project-tags">
            <li class="project-tag">#react</li>
            <li class="project-tag">#js</li>
            <li class="project-tag">#node js</li>
            <li class="project-tag">#git</li>
          </ul>
          <h3 class="project-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a href="#" class="project-link">See project</a>
        </div>
        <picture>
          <source
            srcset="
              ../img/projects/2-project-desk-2x.jpg 2x,
              projects/2-project-desk.jpg           1x
            "
            media="(min-width: 769px)"
          />
          <source
            srcset="
              ../img/projects/2-project-mob-2x.jpg 2x,
              ../img/projects/2-project-mob.jpg    1x
            "
            media="(max-width: 768px)"
          />
          <img src="../img/projects/2-project-mob.jpg" alt="Project 2" />
        </picture>
      </div>
      <div class="swiper-slide">
        <div class="content">
          <ul class="project-tags">
            <li class="project-tag">#react</li>
            <li class="project-tag">#js</li>
            <li class="project-tag">#node js</li>
            <li class="project-tag">#git</li>
          </ul>
          <h3 class="project-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a href="#" class="project-link">See project</a>
        </div>
        <picture>
          <source
            srcset="
              ../img/projects/3-project-desk-2x.jpg 2x,
              ../img/projects/3-project-desk.jpg    1x
            "
            media="(min-width: 769px)"
          />
          <source
            srcset="
              ../img/projects/3-project-mob-2x.jpg 2x,
              ../img/projects/3-project-mob.jpg    1x
            "
            media="(max-width: 768px)"
          />
          <img src="../img/projects/3-project-mob.jpg" alt="Project 3" />
        </picture>
      </div>
    </div>
  </div>

  <div class="arrows">
    <button class="arrow arrow-prev">←</button>
    <button class="arrow arrow-next">→</button>
  </div>
</section>
