<footer class="footer page-content">
  <div class="container wrapper">
    <div class="logo">
      <picture>
        <source
          media="(min-width: 376px)"
          srcset="
            ../img/footer/footer-logo-desk.webp    1x,
            ../img/footer/footer-logo-desk-2x.webp 2x
          "
        />
        <source
          media="(max-width: 375px)"
          width="44"
          height="44"
          srcset="
            ../img/footer/footer-logo-mob.webp    1x,
            ../img/footer/footer-logo-mob-2x.webp 2x
          "
        />
        <img
          src="../img/footer/footer-logo-desk.webp"
          width="70"
          height="70"
          alt="footer-logo-desk"
          loading="lazy"
        />
      </picture>
      <h1 class="logo_description">
        Let’s <span>work</span> <br />
        together
      </h1>
    </div>
    <form class="contact-form" id="contactForm">
      <div class="form-wrapper">
        <input
          class="form-email-and-tex"
          type="email"
          id="email"
          placeholder="Your Email"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
        />
      </div>
      <div class="form-wrapper">
        <textarea
          class="form-email-and-tex"
          id="comments"
          placeholder="Your Comments"
          rows="1"
          required
        ></textarea>
      </div>
      <div class="wrapper-btn">
        <button class="form-btn" type="submit">Send</button>
      </div>
    </form>
    <div class="call-mail-info">
      <a class="mail-tel" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="mail-tel" href="tel:+380 11 1111 11 11">+380 11 1111 11 11</a>
    </div>
    <div class="modal hidden" id="modal">
      <div class="modal-backdrop"></div>
      <div class="modal-content">
        <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
        <p class="modal-description">
          The manager will contact you shortly to discuss further details
          regarding your request. Please stay in touch.
        </p>
        <button class="modal-close" aria-label="Close modal">&times;</button>
      </div>
    </div>
  </div>
</footer>
