.faq {
  width: 80%;
  margin: 0 auto;
}

.faq-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Спочатку один стовпчик */
  grid-gap: 20px;
}

/* Для екранів шириною від 768px */
@media (min-width: 768px) {
  .faq-container {
    grid-template-columns: repeat(2, 1fr); /* Змінюємо на два стовпчики */
  }
}

.main-section-faq-title {
  font: 600 16px / 1.5 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  color: #7c7b7b;
}
.faq-item {
  background-color: #1c1d20;
  padding: 20px;
  border: 1px solid #ccc;
}

.faq-item h3 {
  color: #fff;
  margin-bottom: 10px;
}

.faq-item p {
  color: #888;
}
