#faq {
  padding-bottom: 64px;
}

.main-section-faq-title {
  color: #fafafa66;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

.faq-accordion-container .ac-trigger::after {
  display: none;
}

.faq-accordion-container {
  display: flex;
  flex-wrap: wrap;
}

.faq-accordion-container .ac {
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #fafafa33;
  margin: 0;
}

.faq-accordion-container {
  border-top: 1px solid #fafafa33;
}

.faq-accordion-container .ac-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  text-align: left;
  gap: 20px;
}

.faq-accordion-container .ac-trigger svg {
  display: block;
  stroke: #fafafa;
  fill: none;
}

.faq-accordion-container .ac-header .ac-trigger {
  margin: 0;
  padding: 6px;
  border: 1px solid #fafafa33;
  border-radius: 50%;
  width: auto;
}

.faq-accordion-container .ac .ac-panel .ac-text {
  font: initial;
  padding: 0;
  padding-top: 16px;
  color: #fafafa99;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-family: 'Inter Tight', serif;
}

.faq-accordion-container .ac-trigger[aria-expanded='true'] svg {
  rotate: 180deg;
}

.faq-accordion-container:not(.no-animation) svg {
  transition: rotate ease 600ms;
}

@media only screen and (min-width: 768px) {
  #faq {
    padding-bottom: 96px;
  }
  .faq-accordion-container .ac {
    padding: 32px 0;
  }
  .faq-accordion-container .ac-header .ac-trigger {
    padding: 9px;
  }
}

@media only screen and (min-width: 1440px) {
  #faq {
    padding-bottom: 164px;
  }
  .faq-accordion-container {
    display: grid;
    grid-template-columns: [first] 50% [second] 50%;
    grid-auto-flow: column;
  }

  .faq-accordion-container .ac:first-child {
    border-top: none;
  }
  .faq-accordion-container .ac:nth-child(n + 1):nth-child(-n + 3) {
    grid-column-start: first;
    padding-right: 32px;
  }
  .faq-accordion-container .ac:nth-child(n + 4) {
    grid-column-start: second;
    border-left: 1px solid #fafafa33;
    padding-left: 32px;
  }
}
